<div id="header" class="container">
  <div id="logo">
    <h1><a href="#">--== LaBase ==--</a></h1>
  </div>
  <div id="menu">
    <ul>
      <li class="current_page_item"><a href="{{ site.url }}/">Home</a></li>
      <li><a href="{{ site.url }}/blog">Blog</a></li>
      <li><a href="{{ site.url }}/fotos">Fotos</a></li>
      <li><a href="{{ site.url }}/'acerca de'">Acerca de</a></li>
      <li><a href="{{ site.url }}/contact">Contacto</a></li>
    </ul>
  </div>
</div>
<div id="banner">
  <div id="slider">
    <div class="viewer">
      <div class="reel">
        <div class="slide"> <img src="{{ site.url }}/images/pic01.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic02.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic03.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic04.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic05.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic06.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic07.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic08.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic09.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic10.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic11.jpg" alt="" /> </div>
        <div class="slide"> <img src="{{ site.url }}/images/pic12.jpg" alt="" /> </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#slider').slidertron({
      viewerSelector: '.viewer',
      reelSelector: '.viewer .reel',
      slidesSelector: '.viewer .reel .slide',
      advanceDelay: 3000,
      speed: 'slow'
    });
  </script>
</div>
